<div class="user-details">
  <mat-list>
    <mat-list-item class="u-text-align-center">
      <span class="mat-h2">Detalhes do usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Nome: </span><span class="mat-h3">Fulano</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Email: </span><span class="mat-h3">maro&#64;hotmail.com</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Telefone: </span><span class="mat-h3">(51) 98915-1516</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Endereço: </span><span class="mat-h3"> iyudqbwio iwefbfi fiwebf</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h2">Ativo: </span><span class="mat-h3">Sim</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <span class="mat-h2">Função: </span><span class="mat-h3">Desenvolvedor</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="mat-h2">Data cadastro: </span><span class="mat-h3">30/01/2022</span>
      </mat-list-item>
      <mat-divider></mat-divider>
  </mat-list>
</div>
