.container{
    display: flex;
    height: 100vh;
}

.left-container{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-div{
    flex-grow: 1;    
}

.main-left-div{
    height: 80%;  
    
    &__spinner{
        display: flex;
        justify-content: center;
        align-content: center;
        height: 50px;
    }
}

.right-div{
    width: 40%;
    max-height: 100vh;
    background-color: white;
}